<nav class="flex justify-between w-full mx-auto align-middle">
    <a href="/">
        <img src="/images/agorabanner.jpg" class="h-10 bg-gray-400 w-fit sm:ml-0" alt="">
    </a>
    <div class="flex flex-row items-center space-x-4 sm:mr-0">
        <a href="/blog" class="text-lg font-semibold rounded-sm h-fit bg-bg">Blog</a>
        <a href="/sobre-nosotros" class="text-lg font-semibold h-fit bg-bg">Sobre Nosotros</a>
        <a href="/contactanos" class="hidden text-lg font-semibold h-fit bg-bg md:block">Contactanos</a>
    </div>
</nav>